#bpdy{
    background-color: rgb(44, 44, 44);
    
}
#head-body{
    height:650px;
    background-color: blue;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),url('Images/netflix-back.jpg'); 
}
#header{
    height:100px;
    margin: 0px 24px 0px 24px;
    padding-left:120px;
    padding-top:0px;
    display: flex;
}
.lan{
    color:white;
    border:2px solid white;
    align-items: center;
    margin-left: 800px;
    height:fit-content;
    width:104px;
    display: flex;
    text-align: left;
    margin-top: 20px;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    font-family: 'Handjet', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.log{
    margin:3px;
    margin-right: 7px;
}
#dlog{
    margin:3px;
    margin-left: 15px;
    margin-right:15px;
}
#signin{
    background-color: red;
    color : white;
    height:27px;
    margin-top:23px;
    margin-left:30px;
    border-radius: 5px;
    padding:0px 12px 0px 12px;
    padding-top:5px;
    font-family: 'Handjet', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
}
#head-con{
    /* border:1px solid white; */
    margin: auto;
    height: 280px;
    color: white;
    padding:170px 300px 100px 370px;
}
.lh1{
    font-family: 'Handjet', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
}
.ph1{
    font-family: 'Handjet', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin-left: 220px;
    font-size: 22px;
}
.ph2{
    font-family: 'Handjet', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin-left:70px;
    font-size: 19px;
}
.email-form{
    /* background-color: aqua; */
    padding-left: 150px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    position: relative;
}
.em{
    color: white;
    height:25px;
    padding:10px;
    width:300px;
    margin-bottom: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
    border:1px solid #888888;
    border-radius: 2px;
}
.sub{
    width:160px;
    height:48.5px;
    padding: 10px;
    background-color: red;
    color:white;
    font-family: 'Handjet', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    border:none;
}
.sub:hover{
    background-color: rgb(233, 63, 63);
}
.d2{
    color: white;
    margin-top: 8px;
    background-color: black;
    height: 500px;
    position: relative;
}
.con-d2{
    background-color: black;
    display: flex;
    position: absolute;
    left:200px;
    top:120px;
    /* border:1px solid white; */
}
.d21{
    background-color: black;
    margin-right: 40px;
    padding-top: 30px;
}
.d22{
    width:414px;
    height:326px;
    background: url('Images/netflix-intro-netflix.gif');
    background-repeat: no-repeat;
    background-size: 414px 326px;
    /* border: 1px solid red; */
    position: relative;
}
.d2p{
    color:white;
    font-family: 'Handjet', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    margin:0px;
}
.d2i{
    width:414px;
    height:326px;
    position: absolute;
    top:0px;
}
.d23{
    width:414px;
    height:326px;
    position: relative;
}
.d3{
    /* border:1px solid red; */
    height: 640px;
    padding: 100px;
    padding-left: 180px;
    padding-top: 50px;
}
#faq{
    /* border: 1px solid white; */
    height:25px;
    padding:30px;
    font-family: 'Handjet', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 23px;
    background-color: #454545b0;
    display: flex;
    position: relative;
    margin-top: 8px;
}
#icon{
    position: absolute;
    right:20px;
    bottom:3px;
    font-size: 43px;
    font-family: 'Handjet', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 15px;
    /* border:1px solid white; */
}
#faq:hover{
    background-color: #646363b0;
}
#bot-div{
    /* border: 1px solid white; */
    padding-top:20px;
    padding-left: 180px;
}
td{
    /* border:1px solid white; */
    width:350px;
    margin-right:300px;
    padding-bottom:15px;
    font-size: 13px;
    text-decoration: underline;
    font-family: 'Handjet', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
}
span{
    text-decoration: underline;
}